.pageheader {
  padding-bottom: 0px;
  padding-top: 8px;
}
.title {
  font-size: 18px;
  font-weight: 400;
}
.arrow {
  margin-top: 20px;
  margin-right: 20px;
}
.text {
  font-size: 23px;
  font-weight: 400;
  padding-top: 15px;
  padding-bottom: 16px;
}
