.pageheader {
  padding-bottom: 0px;
  padding-top: 8px;
}
.title {
  font-size: 18px;
  font-weight: 400;
}
.arrow {
  margin-top: 20px;
  margin-right: 20px;
}
.text {
  font-size: 23px;
  font-weight: 400;
  padding-top: 15px;
  padding-bottom: 16px;
}
.input {
  width: 100%;
  margin-top: 3px;
}
.vertical_spacing {
  margin-top: 15px;
  margin-bottom: 20px;
  margin-left: 38%;
}
.bidbutton {
  margin-left: 48%;
  margin-top: 20px;
  height: 40px;
  font-size: 20px;
  /* width: 40px; */
}
